/*
    Name:        GlossyBlack/gtk-3.0/gtk-widgets-assets.css
    Purpose:     GlossyBlack GTK3 theme widget image backgrounds
    Author:      Andrea Zanellato
    Modified by:
    Created:     2013/12/02
    Copyright:   (c) Andrea Zanellato
    Licence:     GNU General Public License Version 3
*/
paned separator
{
    background-repeat:      no-repeat;
    background-position:    center;
}
paned.vertical separator
{
    background-image:       url("../assets/paned-separator-vertical.png");
}
paned.horizontal separator
{
    background-image:       url("../assets/paned-separator-horizontal.png");
}
scale slider
{
    border-style:           none;
}
scale.horizontal slider
{
    background-image:       url("../assets/scale-horizontal-slider.png");
    background-repeat:      no-repeat;
    min-width:              12px;
    min-height:             15px;
}
scale.horizontal slider:hover
{
    background-image:       url("../assets/scale-horizontal-slider-prelight.png");
}
scale.vertical slider
{
    background-image:       url("../assets/scale-vertical-slider.png");
    background-repeat:      no-repeat;
    min-width:              15px;
    min-height:             12px;
}
scale.vertical slider:hover
{
    background-image:       url("../assets/scale-vertical-slider-prelight.png");
}
