/*
    Name:        GlossyBlack/gtk-3.0/gtk-widgets.css
    Purpose:     GlossyBlack GTK3 theme
    Author:      Andrea Zanellato
    Modified by:
    Created:     2013/02/03
    Revision:    $Hash$
    Copyright:   (c) Andrea Zanellato
    Licence:     GNU General Public License Version 3
*/
*
{
    engine:                                     none;

    -adwaita-focus-border-color:                #f07800;

    -GtkButton-child-displacement-x:            0;
    -GtkButton-child-displacement-y:            0;
    -GtkButton-default-border:                  0;
    -GtkButton-image-spacing:                   0;
    -GtkButton-inner-border:                    0;
    -GtkButton-interior-focus:                  true;

    -GtkCheckButton-indicator-size:             14;
    -GtkCheckMenuItem-indicator-size:           14;

    -GtkPaned-handle-size:                      6;

    -GtkScrolledWindow-scrollbar-spacing:       0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkWidget-link-color:                      @link_color;
    -GtkWidget-visited-link-color:              @link_color;

    -GtkWidget-focus-line-width:                1;
    -GtkWidget-focus-padding:                   1;

    /* TODO: how to have a sunken/inset border style for separators? */
    -GtkWidget-separator-height:                2;
    -GtkWidget-separator-width:                 2;

    -GtkWidget-wide-separators:                 false;

    /* Get rid of the resize grip that is shown also over other widgets. */
    -GtkWindow-resize-grip-height:              0;
    -GtkWindow-resize-grip-width:               0;

    -WnckTasklist-fade-overlay-rect:            0;

    /* Inherit the color from parent by default */
    color:                                      inherit;
    border-color:                               transparent;
    background-color:                           transparent;

    border-width:                               2px;

    margin:                                     1px;
}
GtkWindow
{
    color:                          @fg_color;
    background-color:               @bg_color;
}
GtkWindow:backdrop
{
    color:                          @backdrop_fg_color;
}
*:insensitive
{
    color:                          shade( @bg_color, 0.6 );
    text-shadow:                    0px 1px alpha( shade( @bg_color, 1.25 ), 0.5 );
}
*:active
{
}
*:active:hover:insensitive
{
}
*:active:insensitive
{
}
*:hover
{
}
*:hover:insensitive
{
    background-image:               none;
}
*:selected,
*:selected:focused
{
    background-color:               alpha( @selected_bg_color, 0.9 );
    background-image:               none;
    color:                          @selected_fg_color;
}
*:selected:backdrop,
*:selected:focused:backdrop
{
    background-color:               alpha( @backdrop_selected_bg_color, 0.9 );
    background-image:               none;
    color:                          @backdrop_selected_fg_color;
}
.button,
column-header.button,
column-header .button
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #fcfcfc ),
                                                   color-stop( 0.5, #e7e7e7 ),
                                                   color-stop( 0.5, #dddbd5 ),
                                                   color-stop( 1,   #f3f3f3 ) );
    border:                         1px solid #aaa;
}
.button:hover,
column-header.button:hover,
column-header .button:hover
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #ebd8b7 ),
                                                   color-stop( 0.5, #f6ebe0 ),
                                                   color-stop( 0.5, #edd5b4 ),
                                                   color-stop( 1,   #f3eadb ) );
    border:                         1px solid #c6ab84;
}
.button:active,
column-header.button:active,
column-header .button:active
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #ccb79c ),
                                                   color-stop( 0.5, #e7decc ),
                                                   color-stop( 0.5, #e1cfb4 ),
                                                   color-stop( 1,   #ccc3b7 ) );
    border:                         1px solid #967b54;
}
.button:insensitive,
column-header.button:insensitive,
column-header .button:insensitive
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #dee0e7 ),
                                                   color-stop( 0.5, #edf0f6 ),
                                                   color-stop( 0.5, #c6ccd5 ),
                                                   color-stop( 1,   #eaf0f6 ) );
    border:                         1px solid #c6ccd5;
}
.check,
.radio,
.menuitem.check,
.menuitem.radio
{
    background-color:               transparent;
    background-repeat:              no-repeat;
    background-size:                12px 12px;
    border-style:                   none;
    border:                         0;
    padding:                        0;
}
.check,
.menuitem.check
{
    background-color:               #fff;
    border:                         1px solid #aaa;
}
.check:active,
.check:selected,
.menuitem.check:active,
.menuitem.check:selected
{

}
.radio,
.menuitem.radio
{
    background-color:               #fff;
    border:                         1px solid #aaa;
}
.radio:active,
.radio:selected,
.menuitem.radio:active,
.menuitem.radio:selected
{

}
.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive
{
    background-image:               none;
    background-color:               transparent;
}
GtkComboBox .separator
{
    /* Always disable separators */
    -GtkWidget-wide-separators:     true;
    -GtkWidget-horizontal-separator:0;
    -GtkWidget-vertical-separator:  0;
}
.entry
{
    background-color:               #fff;
    border:                         1px solid #ccc;
    padding:                        3px;
}
GtkIconView
{
    background-color:               transparent;
}
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus
{
    background-image:               -gtk-gradient( linear, left top, left bottom,
                                        from( shade( @selected_bg_color, 1.2 ) ),
                                        to( shade( @selected_bg_color, 1.0 ) ) );
    border-radius:                  3px;
    border-style:                   solid;
    border-width:                   1px;
    color:                          @selected_fg_color;
    border-color:                   shade( @selected_bg_color, 0.8 );
}
.view.rubberband,
.rubberband
{
    background-color:               alpha( @selected_bg_color, 0.3 );
    border-color:                   @selected_bg_color;
    border-radius:                  0;
    border-style:                   solid;
    border-width:                   1px;
}
GtkImage
{
    background-color:               transparent;
}
GtkLabel
{
    background-color:               transparent;
}
.menubar
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #770000 ),
                                                   color-stop( 0.5, #880000 ),
                                                   color-stop( 0.5, #770000 ),
                                                   color-stop( 1,   #880000 ) );
    color:                          #fff;
}
.menu
{
    background-color:               #000;
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,    #aaaaaa ),
                                                   color-stop( 0.07, #555555 ),
                                                   color-stop( 0.07, #000000 ),
                                                   color-stop( 1,    #222222 ) );
    padding:                        2px;
    color:                          #fff;
}
.menuitem
{
    border-style:                   none;
    padding:                        3px 8px;
}
.menuitem:hover,
.progressbar
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #DD5500 ),
                                                   color-stop( 0.5, #DD7700 ),
                                                   color-stop( 0.5, #DD5500 ),
                                                   color-stop( 1,   #DD7700 ) );
}
.menu .menuitem
{
    border-style:                   none;
    padding:                        2px;
}
.progressbar
{
    border:                         1px solid #884400;
    color:                          #fff;
}
.progressbar.vertical
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   #DD5500 ),
                                                   color-stop( 0.5, #DD7700 ),
                                                   color-stop( 0.5, #DD5500 ),
                                                   color-stop( 1,   #DD7700 ) );
}
.separator
{
    color:                          #aaa;
}
.notebook
{
    border:                         1px solid #c8c8c8;
    border-radius:                  3px;
}
.notebook tab
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #f7f7f7  ),
                                                   color-stop( 0.5, #f7f7f7 ),
                                                   color-stop( 0.5, @bg_color ) );
    padding:                        2px;
}
.notebook tab.bottom
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   @bg_color ),
                                                   color-stop( 0.5, @bg_color ),
                                                   color-stop( 0.5, #f7f7f7 ) );
}
.notebook tab.left
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   #f7f7f7  ),
                                                   color-stop( 0.5, #f7f7f7 ),
                                                   color-stop( 0.5, @bg_color ) );
}
.notebook tab.right
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   @bg_color ),
                                                   color-stop( 0.5, #f7f7f7 ),
                                                   color-stop( 0.5, #f7f7f7 ) );
}
.notebook tab:active
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   @base_color ),
                                                   color-stop( 0.5, @base_color ),
                                                   color-stop( 0.5, @bg_color ) );
}
.notebook tab.bottom:active
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   @bg_color ),
                                                   color-stop( 0.5, @bg_color ),
                                                   color-stop( 0.5, @base_color ) );
}
.notebook tab.left:active
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   @base_color ),
                                                   color-stop( 0.5, @base_color ),
                                                   color-stop( 0.5, @bg_color ) );
}
.notebook tab.right:active
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   @bg_color ),
                                                   color-stop( 0.5, @bg_color ),
                                                   color-stop( 0.5, @base_color ) );
}
.trough
{
    border:                         1px solid #aaa;
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0, #e1d8d2 ),
                                                   color-stop( 1, #f6f6f6 ) );
}
.trough.vertical
{
    background-image:               -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0, #e1d8d2 ),
                                                   color-stop( 1, #f6f6f6 ) );
}
.frame
{
    border-radius:                  3px;
}
.frame,
.sidebar
{
    border:                         1px solid #c8c8c8;
}
.sidebar,
.sidebar.view,
.sidebar .view
{
    background-color:               #fff;
 
}
.slider
{
    border-radius:                  3px;
    padding:                        3px;
    border:                         1px solid #884400;

    background-image:               url("../assets/scrollbar-thumb-horizontal.png"),
                                    -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #DD5500 ),
                                                   color-stop( 0.5, #DD7700 ),
                                                   color-stop( 0.5, #DD5500 ),
                                                   color-stop( 1,   #DD7700 ) );
    background-repeat:              no-repeat;
    background-position:            center;
}
.slider:hover
{
    background-image:               url("../assets/scrollbar-thumb-horizontal.png"),
                                    -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #DD6600 ),
                                                   color-stop( 0.5, #DD9900 ),
                                                   color-stop( 0.5, #DD6600 ),
                                                   color-stop( 1,   #DD9900 ) );
}
.slider.vertical
{
    background-image:               url("../assets/scrollbar-thumb-vertical.png"),
                                    -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   #DD5500 ),
                                                   color-stop( 0.5, #DD7700 ),
                                                   color-stop( 0.5, #DD5500 ),
                                                   color-stop( 1,   #DD7700 ) );
}
.slider.vertical:hover
{
    background-image:               url("../assets/scrollbar-thumb-vertical.png"),
                                    -gtk-gradient( linear, 0 0, 1 0,
                                                   color-stop( 0,   #DD6600 ),
                                                   color-stop( 0.5, #DD9900 ),
                                                   color-stop( 0.5, #DD6600 ),
                                                   color-stop( 1,   #DD9900 ) );
}
GtkStatusbar
{
    color:                          #000;
    padding:                        3px;
    border:                         1px solid #000;
}
.toolbar
{
    -GtkToolbar-internal-padding:   0;
    -GtkWidget-window-dragging:     true;

    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #fcfcfc ),
                                                   color-stop( 0.5, #e7e7e7 ),
                                                   color-stop( 0.5, #dddbd5 ),
                                                   color-stop( 1,   #f3f3f3 ) );
    border-style:                   none;
    padding:                        2px;
}
.toolbar .button
{
    -GtkWidget-focus-line-width:    0;

    background-color:               transparent;
    border-color:                   transparent;
    border-width:                   1px;
    padding:                        2px;
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #f9f9f9 ),
                                                   color-stop( 0.5, #e1dedb ),
                                                   color-stop( 0.5, #d8d5cf ),
                                                   color-stop( 1,   #f5f5f5 ) );
    border:                         1px solid #d8d5cf;
}
.toolbar .button:hover
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #cccccc ),
                                                   color-stop( 0.5, #b1bdc6 ),
                                                   color-stop( 0.5, #a8bac3 ),
                                                   color-stop( 1,   #c6c9cc ) );
    border:                         1px solid #a8bac3;
}
.toolbar .button:active
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #dbd8d8 ),
                                                   color-stop( 0.5, #c6c3c0 ),
                                                   color-stop( 0.5, #c0bab7 ),
                                                   color-stop( 1,   #d5d5d5 ) );
    border:                         1px solid #c0bab7;
}
.toolbar .button:insensitive
{
    background-image:               -gtk-gradient( linear, 0 0, 0 1,
                                                   color-stop( 0,   #eaeaea ),
                                                   color-stop( 0.5, #cfcfcf ),
                                                   color-stop( 0.5, #c6c6c6 ),
                                                   color-stop( 1,   #e4e4e4 ) );
    border:                         1px solid #c6c6c6;
}
.tooltip
{
    background-color:               @tooltip_bg_color;
    color:                          @tooltip_fg_color;
    border:                         1px solid #f0f078;
    padding:                        3px;
}
